# Supabase Auth configuration
NEXT_PUBLIC_SUPABASE_URL="https://yjhvjdtfjvcwsrrapluo.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_IxFpZfBmcx3CanuF0ZRLzw_dPLQCrAM"
# NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqaHZqZHRmanZjd3NycmFwbHVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDQ2MzQsImV4cCI6MjA4OTM4MDYzNH0.sEc1aCJ_OuTxsA6h1D9tCPjpSKYyxSNowlp3xlnXAgY"
